body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(46, 72, 163) !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h2 {
    font-size: 35px;
    margin: 10px;
    color: white;
    padding-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-wrap {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-gap: 10px;
}

.square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    color: rgb(33, 58, 147);
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#reset-button {
    font-size: 18px;
    border: 2px solid black;
    height: 45px;
    width: 100px;
    margin: 10px;
    background-color: rgb(144, 185, 255);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
